body {
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

h3 {
  color: white;
  font-size: 30px;
  cursor: pointer;
}

h4 {
  font-size: 26px;
  font-weight: 400;
  margin-left: 20px;
}

h3:hover {
  color: #ed161e;
  line-height: 30px;
  border-bottom: #ed161e;
}

.menu-header {
  display: flex;
  width: 75%;
  justify-content: space-around;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.logo {
  width: 300px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.searchbarre {
  width: 500px;
  height: 100px;
  background-image: url(./assets/images/search.jpeg);
  box-shadow: 0px 0px 15px silver;
  border-radius: 5px;
  color: silver;
  display: flex;
  align-items: center;
  object-fit: cover;
  object-position: center;
}

.searchname {
  width: 300px;
  height: 50px;
  margin-left: 30px;
  border-radius: 5px;
  border: none;
  border: 1px solid silver;
}

.button-searchname {
  width: 100px;
  margin-left: 40px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #ed161e;
  color: white;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}

.searchbarre input {
  background-color: rgb(230, 230, 230);
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer {
  position: fixed;
  width: 100vw;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: black;
}

h2 {
  font-weight: 700;
  margin-bottom: 20px;
}

.comic-card {
  display: flex;
  width: 1100px;
  height: 200px;
  padding: 10px;
  margin-top: 30px;
  border-radius: 5px 0 0 5px;
  background-color: rgb(66, 66, 66);
}

.comic-card-picture img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
.comic-name-desc h2 {
  margin-left: 10px;
}

.comic-perso-gen {
  margin-top: 30px;
  justify-content: space-between;
  display: flex;
}

.comic-perso {
  margin-bottom: 10px;
}

.comic-perso-picture {
  width: 480px;
  height: 680px;
  object-fit: cover;
  object-position: center;
}

.comic-desc {
  margin-left: 10px;
  margin-right: 10px;
  line-height: 17px;
  font-size: 15px;
}

.comics-gen {
  display: flex;
}

h4 p {
  font-size: 20px;
  margin-top: 20px;
}

.button-fav {
  width: 100px;
  height: 220px;
  background-color: #ed161e;
  border-radius: 0 5px 5px 0;
  margin-top: 30px;
  font-size: 24px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.button-fav:hover {
  background-image: url("./assets/images/fav.jpg");
  color: rgba(255, 255, 255, 0);
}
